ProiectCRF.module/Service Descriptors/GUIProcess.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.example.org/schema/1566808918498" xmlns:tns="http://www.example.org/wsdl/1566808918454" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GUIProcess" targetNamespace="http://www.example.org/wsdl/1566808918454">
  <wsdl:import namespace="http://www.example.org/schema/1566808918498"/>
  <wsdl:message name="operationRequest">
    <wsdl:part element="extns:operationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="extns:operationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Request">
    <wsdl:part element="extns:operation1Request" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Response">
    <wsdl:part element="extns:operation1Response" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="GUIProcess">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
    </wsdl:operation>
        <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1Request" name="operation1Input"/>
      <wsdl:output message="tns:operation1Response" name="operation1Output"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
